div#bicyclerent {
	background-color: #ccffcc;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 0px;
	border: 1px solid #d9d9d9;
}
div.rent {
	font-family: Verdana, Helvetica, sans-serif;
	color: #400080;
	padding: 10px;
}
div.rent:nth-child(even) {
	background-color: #80ffff;
}
div.rent:first-child {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
div.rent:last-child {
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

